html {
  min-height: 100%;
  background-color: #faa3ff;
}
body {
  max-width: 700px;
  height: 100%;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  margin: 75px auto;
  border: 1px solid #faa3ff;
  border-radius: 10px;
  background: white;
  padding: 25px;
}

.search-bar {
  border-color: #fdeaff;
  background-color: #fdeaff;
}

.search-button {
  border-radius: 10px;
  padding: 12px 12px;
  background-color: #bd33c6;
  color: white;
  font-size: 14px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.search-button:hover {
  background-color: #b4fc9c;
  transition: all 350ms ease-in-out;
  border: #b4fc9c;
}
