.search-bar {
  border-color: #fdeaff;
  background-color: #fdeaff;
}

.search-button {
  border-radius: 10px;
  padding: 12px 20px;
  background-color: #bd33c6;
  color: white;
  font-size: 14px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.search-button:hover {
  background-color: #b4fc9c;
  transition: all 350ms ease-in-out;
  border: #b4fc9c;
}

.Weather {
  margin-top: 100px;
}
